Tobii_RemoteEyeTrackingServer/.vs/*
Tobii_RemoteEyeTrackingServer/TobiiRemoteEyeTrackingServer/[Dd]ebug/*
Tobii_RemoteEyeTrackingServer/TobiiRemoteEyeTrackingServer/[Rr]elease/*
Tobii_RemoteEyeTrackingServer/TobiiRemoteEyeTrackingServer/bin/*
Tobii_RemoteEyeTrackingServer/TobiiRemoteEyeTrackingServer/obj/*
Tobii_RemoteEyeTrackingServer/packages/*

Tobii_GlassesEyeTrackingServer/.vs/*
Tobii_GlassesEyeTrackingServer/x64/*
Tobii_GlassesEyeTrackingServer/TobiiWAMPServer/x64/*
